<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key><string>hw_calendar</string>
  <key>CFBundleIdentifier</key><string>com.halwayland.hw_calendar</string>
  <key>CFBundleIconFile</key><string>AppIcon</string>
  <key>CFBundleName</key><string>hw_calendar</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>2</string>
  <key>LSApplicationCategoryType</key><string>public.app-category.productivity</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>SUAllowsAutomaticUpdates</key><false/>
  <key>SUAutomaticallyUpdate</key><false/>
  <key>SUEnableAutomaticChecks</key><true/>
  <key>SUFeedURL</key><string>https://www.halwayland.com/updates/hw_calendar/stable/appcast.xml</string>
  <key>SUPublicEDKey</key><string>bIOLl2BtFYuFgh3Xd8FUQt6U7F5b1bcHoyeFLDLPgF4=</string>
  <key>SURequireSignedFeed</key><true/>
  <key>SUScheduledCheckInterval</key><integer>86400</integer>
  <key>SUVerifyUpdateBeforeExtraction</key><true/>
</dict>
</plist>
